<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="Hecatomb.Installer3" Language="1033" Version="1.0.0.0" Manufacturer="Kaiser Permanente" UpgradeCode="b9201435-d6ee-4df8-934e-71fa486e55c6">
		<Package Id="*" InstallerVersion="200" Compressed="yes" InstallScope="perUser" />

		<MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
		<MediaTemplate EmbedCab="yes"/>

		<Feature Id="ProductFeature" Title="Hecatomb.Installer3" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="ProductContent" />
		</Feature>
	</Product>

	<Fragment>
		<Directory Id="TARGETDIR" Name="SourceDir">
			<Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="Hecatomb.Installer3">
          <Directory Id="CONTENTFOLDER" Name="Content" />
        </Directory>
			</Directory>
		</Directory>
	</Fragment>

	<Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
			<Component Id="Hecatomb.exe" Guid="{332A8EA6-9690-4DA7-91D1-E92DC35D8BA8}">
        <File Source="$(var.Hecatomb.TargetPath)" KeyPath="yes" />
			</Component>
      <Component Id="Icon.ico" Guid="{CC08CA0C-9FCC-4468-B053-1ABC3D753378}">
        <File Source="$(var.Hecatomb.TargetDir)Icon.ico" KeyPath="yes" />
      </Component>
      <Component Id="MonoGame.Framework.dll" Guid="{0210ADF5-A88F-4CF6-9D4E-E146BDD1AF2C}">
        <File Source="$(var.Hecatomb.TargetDir)MonoGame.Framework.dll" KeyPath="yes" />
      </Component>
      <Component Id="Newtonsoft.Json.dll" Guid="{1DE3B5C9-4C9E-44B8-9312-DCEA73890BF6}">
        <File Source="$(var.Hecatomb.TargetDir)Newtonsoft.Json.dll" KeyPath="yes" />
      </Component>
      <Component Id="ShadowCaster.dll" Guid="{1313C97F-4C5A-4EFB-AD26-E918C34B274E}">
        <File Source="$(var.Hecatomb.TargetDir)ShadowCaster.dll" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.Direct2D1.dll" Guid="{E3A37150-2546-4F4F-B7EC-8F3D1C94568D}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.Direct2D1" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.Direct3D9.dll" Guid="{9EEB02D6-A5DC-4824-9A90-81B1CC847E06}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.Direct3D9" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.Direct3D11.dll" Guid="{1E6ED9C3-C231-4E84-BEEA-AF9E63CA6B85}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.Direct3D11" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.dll" Guid="{8525F0DE-92D1-45DA-97EB-6C00984EBF8A}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.dll" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.DXGI.dll" Guid="{DBF3A212-5391-46D1-99F9-8682D640500D}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.DXGI.dll" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.MediaFoundation.dll" Guid="{C6919C12-5D69-423A-8416-E87ECF062CF1}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.MediaFoundation.dll" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.XAudio2.dll" Guid="{75F78C0E-F8B6-43D3-96A2-2C3767506E7D}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.XAudio2.dll" KeyPath="yes" />
      </Component>
      <Component Id="SharpDX.XInput.dll" Guid="{08E282A8-A8D9-48A7-BDFB-B9FE0A53A588}">
        <File Source="$(var.Hecatomb.TargetDir)SharpDX.XInput.dll" KeyPath="yes" />
      </Component>
      <Component Id="System.Value.Tuple.dll" Guid="{83AFEFB8-BAE7-40CF-9929-3A6E7DF9C382}">
        <File Source="$(var.Hecatomb.TargetDir)System.Value.Tuple.dll" KeyPath="yes" />
      </Component>

    </ComponentGroup>
    <ComponentGroup Id="ProductContent" Directory="CONTENTFOLDER">
      <Component Id="Cambria.xnb" Guid="{207371EE-0D35-4316-91D1-6F5B029F62BF}">
        <File Source="$(var.Hecatomb.TargetDir)Content\Cambria.xnb" KeyPath="yes" />
      </Component>
      <Component Id="Creatures.json" Guid="{D750B80A-F0DD-48A7-ADD0-2A82C7E46F1D}">
        <File Source="$(var.Hecatomb.TargetDir)Content\Creatures.json" KeyPath="yes" />
      </Component>
      <Component Id="DefaultFont.xnb" Guid="{3F5ACAB3-E7A5-40C2-A103-4AEB24F5E611}">
        <File Source="$(var.Hecatomb.TargetDir)Content\DefaultFont.xnb" KeyPath="yes" />
      </Component>
      <Component Id="Features.json" Guid="{AEAFA2FC-3DF6-4D97-8A98-08FC96B8F33F}">
        <File Source="$(var.Hecatomb.TargetDir)Content\Features.json" KeyPath="yes" />
      </Component>
      <Component Id="Items.json" Guid="{15CD2B27-10AD-4B85-BD75-B886992538EE}">
        <File Source="$(var.Hecatomb.TargetDir)Content\Items.json" KeyPath="yes" />
      </Component>
      <Component Id="necromancer.xnb" Guid="{4E857EA6-B623-4F24-B899-A80A933B0E74}">
        <File Source="$(var.Hecatomb.TargetDir)Content\necromancer.xnb" KeyPath="yes" />
      </Component>
      <Component Id="NotoSans.xnb" Guid="{1FF41B28-0ADC-447E-86C6-D6B161F77388}">
        <File Source="$(var.Hecatomb.TargetDir)Content\NotoSansxnb" KeyPath="yes" />
      </Component>
      <Component Id="NotoSansSymbol.xnb" Guid="{78A9D083-E09E-4430-8E41-B7F8DA0E6C1F}">
        <File Source="$(var.Hecatomb.TargetDir)Content\NotoSansSymbol.xnb" KeyPath="yes" />
      </Component>
      <Component Id="NotoSansSymbol2.xnb" Guid="{19EEA1EB-AD57-4E02-AE61-719671883091}">
        <File Source="$(var.Hecatomb.TargetDir)Content\NotoSansSymbol2.xnb" KeyPath="yes" />
      </Component>
      <Component Id="PTMono.xnb" Guid="{48E698AB-0CA7-4845-BAE6-8BA50128C9C1}">
        <File Source="$(var.Hecatomb.TargetDir)Content\PTMono.xnb" KeyPath="yes" />
      </Component>
    </ComponentGroup>
	</Fragment>
</Wix>
